<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="_apiKey" value="AIzaSyAl2EH8mbQJKGOOC69UmPXn0RJuGGUFuj0" />
    <add key="_startLine" value="2" />
    <add key="_endLine" value="100" />
    <add key="_batchSize" value="10" />
    <add key="_inputPath" value="C:\Users\nnnn\Desktop\data cleaning\J2025ONDEVICE001_DIARY_PROJECT_WEEK1_2025317_121855 - Example.xlsx" />
    <add key="_outputPath" value="C:\Users\nnnn\Desktop\data cleaning\output.xlsx" />
  </appSettings>
</configuration>
