<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="_apiKey" value=""/>
    <add key="_startLine" value="2"/>
    <add key="_endLine" value="40"/>
    <add key="_batchSize" value="10"/>
    <add key="_inputPath" value=""/>
    <add key="_outputPath" value=""/>
  </appSettings>
</configuration>
